<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @child.name %>
</p>

<p>
  <b>Image:</b>
  <%= @child.image %>
</p>

<p>
  <b>Dob:</b>
  <%= @child.dob %>
</p>

<p>
  <b>Bank:</b>
  <%= @child.bank %>
</p>

<p>
  <b>Total:</b>
  <%= @child.total %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
